body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.header {
    width: 25%;
    color: white;
    text-align: center;
}

.container {
    width: 25%;
    background-color: aquamarine;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}

#cookie-image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}